<!DOCTYPE html>
<html lang="<%= current_language %>">
<head>
<meta charset="utf-8" />
<title>403 <%= @message %></title>
<%= call_hook :view_layouts_base_html_head %>
</head>
<body class=>
  <div class="forbidden">
    <h1>403</h1>
    <h2>Forbidden</h2>
    <p class="message"><%= @message %></p>
    <p class="info"><label>Remote Address:</label> <%= request.remote_ip %></p>
    <p class="info"><label>User Agent:</label> <%= request.headers.env['HTTP_USER_AGENT'] %></p>
  </div>
</body>
</html>
